.h-100 {
  height: 100%;
}

.myBackgroundStyle {
  background-size: 25vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-image: url('../assets/hexagon.png');
}

.opacity-50 {
  opacity: 0.5;
}

.card-title {
  max-width: 170px;
  width: auto;
}
